@mixin respond-to($breakpoint) {
  @media (min-width: map-get($breakpoints,$breakpoint)) {
    @content;
  }
}

@mixin circle($width, $height) {
  width: $width;
  height: $height;
  border-radius: 50%;
}
